body{
  font-family: "Roboto";
}
h1,h2,h3,h4,h5
{
  font-family: "Roboto";
}
@main-color:#0088cc;
.text-red{color:red}
.f50{width:50%}
.f20{width:20%}
.f25{width:25%}
.f80{width:80%}
.f38{width:38%}
.f62{width:62%}
.lf{float:left}
.lr{float:right}
.cf:before, .cf:after, .clearfix:before, .clearfix:after{
  content:"";
  display: table;
}
.p7{padding:7px!important}
.cf:after, .clearfix:after{clear:both}
.large-6{
  width:50%
}
.large-12{
  width: 100%;
}
.column{
  position: relative;
  z-index:1;
  min-height: 2px;
  margin:0;
  padding:0;
  float:left;
}
figure, figcaption{
  display: block
}
