#homepage{
  .block-tag{
    border-top: 1px solid #ddd;
    margin-top: -1px;
    .block-tag-header{
      padding: 30px 0;
      border-bottom: 1px solid #ddd;
      .tag-name{
        font-size: 25px;
        font-weight: 500;
      }
      .show-all{
        font-size: 14px;
        text-align: right;
      }
    }
    .block-tag-body{
//      border-bottom: 1px solid #ddd;
      .product-item{
//        overflow: hidden;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        height: 520px;
        cursor: pointer;
        &:nth-child(3n)
        {
          border-right: none;

        }
        .product-image{
          height: 300px;
          vertical-align: middle;
          display: flex;
          overflow: hidden;
          justify-content:center;
          flex-direction: column;
          .product-image-inside{
            text-align: center;
            height: 100%;
            width: 100%;
            padding: 10px;
          }
        }
        .product-info
        {
          background: none;
          border: none;
          padding: 30px 0;
          .product-title{
            color: #333;
            font-size: 20px;
          }
        }
        &:hover{
          .product-title{
            color: #0088cc !important;
          }
        }
        .product-action{
          text-align:center;
          .popover{
            width:350px!important;
            max-width: 350px!important;
            .custom-height{height:50px;}
            .form-group{
              margin-bottom:5px!important
            }
          }
          .product-price{
            color: #555;
            font-size: 20px;
            margin-top: 19px;
            font-weight: 500;
            margin-left: 12px;
          }
        }
      }
    }
    &:first-child
    {
      border-top: none;
      margin: 0;
    }
  }
}
.arrow-up {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent; /* left arrow slant */
  border-right: 10px solid transparent; /* right arrow slant */
  border-bottom: 10px solid #ccc; /* bottom, add background color here */
}
.cart {
  tr.cart_table_item{
    border-top:1px solid #ccc;
    &:first-child{
      border-top:none;
    }
    td{
      padding:10px 0;
    }
  }
}
