.login-page{
  height: 100%;
  .login-box{
    margin: auto auto;
    padding: 7% 0;
  }
}
.content-wrapper{
  .dataTables_wrapper{
    padding: 15px;
    height: auto;
  }
  table.dataTable thead th, table.dataTable thead td{
    border: none;
  }
  .box-search{
    .box-search-title{
      margin-bottom:20px
    }
    .box-search-title h4{
      float:left;
      padding-right:10px;
    }
    .form-search .col-xs-3{
      padding-left:0;
      padding-right:3px;
    }
  }
  #table_filter{display:none}

}

